<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/bootstrap.css")

</head>

<body>
    <div class="shadow-lg">
        <nav class="navbar navbar-expand-lg navbar-dark bg-light">
            <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item active">
                        <a href="/Home/Index" class="btn btn-light m-1">Домашняя страница</a>                        
                    </li>
                    
                    <li class="nav-item active">                        
                        <div>
                            <a href="/Employees/Index" class="btn btn-light m-1">Сотрудники </a>                            
                        </div>
                    </li>
                </ul>
            </div>
            <div class="mx-auto my-2 order-0 order-md-1 position-relative">
                <a class="mx-auto shadow-lg" href="/Home/Index">
                    <img src="/images/logo.png" class="rounded-circle shadow-lg" width="100" height="100">
                </a>
                <button class="navbar-toggler bg-info" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
                <ul class="navbar-nav mr-auto text-center">
                    <li class="nav-item active">
                        <a href="/TasksEmployees/Index" class="btn btn-light m-1">Список задач</a>                        
                    </li>
                    <li class="nav-item active">
                        <a href="/StatusTasksEmployees/Index" class="btn btn-light m-1">Статусы задач сотрудников</a>
                    </li>
                </ul>

                @*<form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                </form>*@
            </div>
        </nav>
    </div>


    <div class="container-fluid mb-sm-n5">
        @RenderBody()
        @*<hr />*@
        <footer>
            @*<p>&copy; @DateTime.Now.Year - мое приложение ASP.NET</p>*@
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
