@model WebServiceApplication.Models.Employee

@{
    ViewBag.Title = "Details";
}

<p>
</p>
<h2>Детализация</h2>
<p>
</p>
@Html.ActionLink("Добавить задачи", "AddTaskStatuses", new { id = Model.ID }, new { @class = "btn btn-outline-primary" })

<p>
</p>

@Html.Raw("<img class='rounded-circle shadow-lg' style='width:100px; height:100px;' src=\"data:image/png;base64,"
                                + Convert.ToBase64String(Model.Image) + "\" />")



<div class="row">
    <div class="col">
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SecondName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SecondName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ThirdName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ThirdName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IDEmployeе)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IDEmployeе)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FullName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FullName)
                </dd>

            </dl>
        </div>
    </div>
    <div class="col">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="align-baseline">
                        Наименование
                    </th>
                    <th class="align-baseline">
                        Заводской номер
                    </th>
                    <th class="align-baseline">
                        Внешний идентификатор прибора учета
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.MeteringDevices)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FactoryNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IDMeteringDevice)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.ID }, new { @class = "btn btn-outline-primary" })
    <a href="/Employees/Index" class="btn btn-outline-primary">Вернуться</a>
</p>
