@model IEnumerable<WebServiceApplication.Models.Employee>

@{
    ViewBag.Title = "Index";
}

    <div class="text-center">
        <p>
        <p>
            <h2> Список сотрудников</h2>
        </p>
        </p>
    </div>

<p>
    <a class="btn btn-outline-primary" href="/Employees/Create" role="button">Добавить</a>
</p>
<table class="table shadow-lg">
    <thead class="thead-light">
        <tr>
            <th>
                ФИО
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDEmployeе)
            </th>

            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDEmployeе)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.ID }, new { @class = "btn btn-outline-success" }) |
                @Html.ActionLink("Описание", "Details", new { id = item.ID }, new { @class = "btn btn-outline-primary" }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ID }, new { @class = "btn btn-outline-danger" })
            </td>
        </tr>
    }

</table>
